<h1>Blog Posts</h1>

<% @blog_posts.each do |blog_post|%>
  <div>
    <h2>
      <%= link_to blog_post.title, blog_post %>     
      <% if blog_post.draft? %>
        <span class="bg-gray-200 rounded px-2 py-1 ml-2 text-gray-700 font-light">Draft</span>
      <% elsif blog_post.scheduled? %>
        <span class="bg-blue-100 rounded px-2 py-1 ml-2 text-gray-700 font-light">Scheduled</span>
      <% end %>
    </h2>
    <p><%= blog_post.content %></p>
  </div>
<% end %>

<div class="my-16">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>

